header{
        width: 98%;
        margin: 1%;
}
header img{
    width: 100%;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: blue;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}