*{
    padding: 0%;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    width: 25%;
    background-color: blue;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li:hover {
    background-color: green;
}