*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    border: 2px;
    border-color: red;
    border-style: solid;
}
body{
    border: 2px;
    border-color: yellow;
    border-style: solid;
}
#contenedor{
    width: 95%;
    margin: auto;
}
.logo{
    margin:10px 0px 10px 0px;

}
.banner{
    width: 100%;
}
main{
    display: flex;
}
aside{
    width: 20%;
}
aside a{
    margin: 10px;
    display: block;
}
section{
    width: 80%;
    display: flex;
    flex-direction: column;
}
article{
    margin: 10px;

}
article img{
    margin: 0px 20px 10px 0px;
    width: 25%;
    float: left;
}
article p{
    text-align: justify;
}
footer{
    background-color: gray;
    display: flex;
}
footer p{
    width: 90%;
    margin: 30px 20px 30px 20px;
    color: white;
}
footer div{
    margin: 10px;
    display: flex;
}
footer div img{
    padding-right: 10px;
}