body{
    margin: 50px 0px;
    background-color: blue;
}

#contenedor{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: white;

}
h1{
    padding-bottom: 20px;
    color: red;

}

img{
    margin: 0px 30px 20px 0px;
    float: left;
}

p{
    text-align: justify;
}