*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: brown;
}
#contenedor{
    width: 95%;
    margin: auto;
    background-color: white;
}
.logo{
    margin:10px;
    float: right;

}
.banner{
    width: 100%;
}
main{
    display: flex;
}
aside{
    width: 20%;
}
aside a{
    margin: 10px 0px 0px 10px;
    display: block;
}
section{
    width: 80%;
    display: flex;
    flex-direction: row;
}
article{
    margin: 10px;

}
article img{
    margin: 0px 20px 10px 0px;
    width: 40%;
    float: left;
}
article h1{
    margin-bottom: 10px;
    font-size: 20pt;
    color: darkblue;
}
article p{
    text-align: justify;
}
footer{
    background-color: gray;
    display: flex;
}
footer p{
    width: 90%;
    margin: 30px 10px 30px 10px;
    color: yellow;
}
footer div{
    margin: 10px;
    display: flex;
}
footer div img{
    padding-right: 5px;
    
}